.wrapper {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: max-content;
    margin: 0 auto;
};

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
}

.header>div {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    width: 80%;
    height: max-content;
    color: #f5f5f5;
}

figure {
    margin: 0;
}

figure img {
    margin: auto;
    padding: 0;
    display: flex;
    width: 150px;
    border-radius: 50%;
    border: 10px solid #373741;
}

.header h2 {
    background: #373741;
    text-transform: uppercase;
}

.skills div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* END HEADER */

/* CONTENT  */
main {
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    background: #545454;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #e1d8cf;
}

.name h1 {
    font-size: 2rem;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content>article {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: max-content;
}

.content h2 {
    background: #684d9d;
    font-size: 1rem;
    margin: 5%;
    border-radius: 10px;
}

.content article:nth-child(1) p:nth-child(3n-1) {
    color: black;
    margin-left: 10%;
    text-transform: uppercase;
    width: 100%;
}

.content article:nth-child(2) p:nth-child(2n) {
    color: black;
    margin-left: 10%;
    text-transform: uppercase;
    width: 100%;
}

.content article p {
    color: #696663;
    margin-left: 12%;
}
/* END CONTENT */

h2 {
    padding-left: 5px;
    color: #e1d8cf;
    text-transform: uppercase;
    font-family: 'Aleo', serif;
    font-size: 20px;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    list-style-type:none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

.contacts a:hover {
    color: #000000;
}

@media (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: max-content;
        margin: 0 auto;
    };
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: max-content;
        margin: 0 auto;
    };

    .header h2 {
        font-size: 16px;
    }

    .content article:nth-child(1) p:nth-child(3n-1) {
        font-size: 14px;
    }

    .content article:nth-child(2) p:nth-child(2n) {
        font-size: 14px;
    }

    .name h1 {
        width: 80%;
    }

    .skills div {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 599px) {
    .header {
        width: 299.5px!important;
    }

    main {
        width: 299.5px;
    }

    figure img {
        width: 120px;
        border: 5px solid #373741;
    }

    .header>div {
        width: 90%;
        margin-top: 20px;
    }

    .name {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name h1 {
        font-size: 1.5em;
    }

    .name h2 {
        font-size: 15px;
    }

    .content article {
        width: 95%;
    }

    .header h2 {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .header {
        width: 212.5px!important;
    }

    main {
        width: 212.5px;
    }

    figure img {
        border: 6px solid black;
        width: 150px;
    }

    .name {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name h1 {
        width: 90%;
        font-size: 1.2em;
    }

    .name h2 {
        font-size: 0.6em;
    }

    .header h2 {
        font-size: 14px;
    }

    .header p {
        font-size: 13px;
        line-height: 1; 
    }

    .skills div {
        display: flex;
        flex-direction: row;
    }

    .skills div,
    .contacts div {
        font-size: 13px;
    }

    .header>div {
        margin-top: 20px;
    }

    .content h2 {
        font-size: 14px;
        margin: 3%;
    } 

    .content article {
        width: 100%;
    }

    .content article:nth-child(1) p:nth-child(3n-1),
    .content article:nth-child(2) p:nth-child(3n-1) {
        font-size: 13px;
        margin-left: 3%;
    }

    .content article p {
        font-size: 13px;
        margin-left: 8%;
    }
}

@media (max-width: 375px) {
    .header {
        width: 187.5px!important;
    }

    main {
        width: 187.5px;
    }

    figure img {
        border: 4px solid black;
        width: 100px;
    }

    .name {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name h1 {
        width: 90%;
        font-size: 1em;
    }

    .name h2 {
        font-size: 0.6em;
    }

    .header h2,
    .skills div,
    .contacts div {
        font-size: 13px;
    }

    .header>div {
        margin-top: 10px;
    }

    .header p {
        font-size: 13px;
        line-height: 1; 
    }

    .content h2 {
        font-size: 13px;
        margin: 3%;
    } 

    .content article {
        width: 100%;
    }

    .content article:nth-child(1) p:nth-child(3n-1),
    .content article:nth-child(2) p:nth-child(3n-1) {
        font-size: 12px;
        margin-left: 3%;
    }

    .content article p {
        font-size: 13px;
        margin-left: 8%;
    }
}

@media (max-width: 320px) {
    .header {
        width: 160px!important;
    }

    main {
        width: 160px;
    }  
    
    .skills div {
        display: flex;
        flex-direction: column;
    }
}
